.email{
  color: rgb(114, 112, 112);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}
.input{
  margin-top: 6px;
  border-radius: 4px;
  width: 390px;
  padding-top:6px;
  padding-bottom: 6px;
  border-style: solid;
  margin-bottom: 0px;
}
.agree{
  margin-top: 14px;
  font-family: arial;
  color:rgb(114, 112, 112); 
}
button{
 border: none;
 color: white;
 background-color: rgba(10, 88, 190, 0.875);
 width: 400px;
 padding-top: 15px;
 padding-bottom:15px;
 border-radius: 35px;
 font-size: 20px;
 cursor: pointer;

}