.searchbar1{
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.768);
  border-radius: 5px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-width: 0.1px;
}
.searchbar2{
  margin-left: 10px;
  width: 330px;
  padding-left: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.296);
}