.cat{
  vertical-align: middle;
  margin-left: 30px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border: none;
  border-radius: 100px;
}
input{
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border:none;
  padding-top: 7px;
  padding-bottom:7px;
  margin-left: 6px;
  width: 200px;
}
button{
  vertical-align:middle;
  color:white;
  background-color: rgba(10, 106, 190, 0.753);
  border: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom:6px;
  cursor: pointer;
  margin-left: 6px;
}