img{
  width: 190px;
  height:210px;
  object-fit: cover;
  margin-bottom: 0px;
  object-position:center;
}
.oliver{
  font-weight: bold;
  font-family: arial;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 19px;
  margin-left: 10px;
}
.desc{
  font-family: arial;
  color: rgb(112, 110, 110);
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 10px;
}
div{
  margin-left: 20px;
  margin-top: 20px;
  border: none;
  width: 190px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.212);
}
button{
  margin-top: 12px;
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 110px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: rgb(23, 126, 230);
}