div{
  text-align: center;
}
img{
  margin-top: 100px;
  width: 320px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 0px;
}

input{
  width: 500px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.334);
  border: none;
  margin-top: 20px;
  margin-bottom: 0px;
}
button{
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(235, 238, 240);
  border: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  cursor: pointer;


}
div{
margin: auto;
justify-content: center;
}