img{
  vertical-align: middle;
  display: inline-block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  border: none;
  
}
div{

}
.p{
  vertical-align: middle;
  display: inline-block;
  font-size: 18px;
  border: none;
  padding-left: 13px;
  width: 400px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 4px;
  margin-right: 4px;
  
}
div{
  border-radius: 6px;
  width: 600px;
  padding-left: 8px;
  border: none;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.47);
}
button{
  vertical-align: middle;
  display: inline-block;
  padding-top: 9px;
  padding-bottom:9px;
  padding-left: 17px;
  padding-right: 17px;
  color: white;
  font-weight: bold;
  background-color: rgb(36, 138, 211);
  border: none;
  border-radius: 30px;
  font-size:18px ;
}