.Install{
  font-weight: bold;
  color: white;
  font-size: 25px;
  margin-bottom: 0px;
}
p{
 font-family: arial;
 width: 380px;
}
.desc{
  color: rgb(181, 186, 190);
  font-size: 16px;
  margin-top: 13px;
}
.Youtube-music{
  width: 370px;
  padding-left: 13px;
  display: inline-block;
  border: none;
  background-color: rgb(43, 42, 42);

  margin-top: 10px;
  margin-left: 10px;
}