p{
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif
}
.line1{
  font-size: 30px;
}
.USD{
  color: rgb(93, 91, 91);
  font-size: 18px;
}
.line2{
  margin-top: 10px;
  color: rgb(98, 189, 98);
  font-size: 18px;
}
.line3{
  color: rgb(93, 91, 91);
  font-size: 18px;
  margin-top: 10px;
}
.red{
  color: red;
}