p{
    font-family: arial;
    margin-bottom:0px;
    font-size:13px
  }
  .line1{
    color:grey;
  }
  .freecode{
    color: black;
    font-weight: bold;
  }
  .line2{
    width: 410px;
    color: black;
    font-weight: 500;
  }
  .chp{
    color: rgb(48, 209, 234);
  }