p{
    font-family: Arial;
    margin-bottom: 0px;
    text-align: center;
  }
  .new{
    color: orangered;
    font-weight: bold;
    font-size: 20px;
  }
  .mac-title{
    margin-top: 7px;
    color: black;
    font-size: 25px;
    font-weight: bold;
  }
  .class-title{
    margin-top: 7px;
    color: black;
    font-size: 39px;
    font-weight: bolder;
  }
  .price{
    margin-top:8px;
    font-size:20px;
    color: rgba(0, 0, 0, 0.678);
    margin-bottom: 20px;
  }
  .button{
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: blue;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right:19px;
    
    
  }