.Apple-shoping{
    margin-top: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:28px;
  }
  .content-apple{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    margin-bottom: 0px;
  }
  .link{
    text-align: center;
    margin-top: 20px;
    color: rgb(58, 108, 199);
    cursor: pointer;
  }
  .link:hover{
    text-decoration: underline;
  }
  .link:active{
    color: blueviolet;
  }

  .tahoma
  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:28px;
    font-weight:bold;
  }
  .dealofyear{
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    width: 410px;
    line-height: 40px;
    
  }
  .sales{
    font-style: italic;
    color: red;
    font-size: 26px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 80px;
    
  }
  .course-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight :bolder;
    margin-bottom:0px;
  }
  .course-type{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    color: grey;
  }
  .contents{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:490px;
    margin-bottom: 0px;
  }
  button{
    color:white;
    margin-top: 25px;
    background-color: green;
    border:none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 23px;
    padding-right:23px;
    border-radius: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
  }