p{
  display: inline-block;
  width: 200px;
  vertical-align:middle;
}
button{
  margin-left: 10px;
  border-radius: 3px;
  border-style: solid;
  padding-right: 5px;
  padding-left: 5px;
  padding-top:2px;
  padding-bottom:2px;
}