.last_name , .first_name {
  display: inline-block;width: 200px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.556);
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 20px;border-width: 1.3px;
}
.email{
  width: 422px; 
  display: block;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.556);
  border-radius: 5px;
  border-width: 1.3px;
}

button{
  background-color: rgb(0, 119, 255);
  border:none;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: 10px;
  width: 432px; 
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
}